<form method="POST" action="/articles">
  <lable for="title">Title:</lable>
  <input type="text" id="title" name="article[title]"><br>
  <lable for="content">Content:</lable>
  <input type="text" id="content" name="article[content]"><br>
  <input type="submit" value="submit">
</form>
